/* Footer.css */
.footer {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer a {
    color: cyan;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer-content p {
    margin: 5px 0;
  }
  