* {
    margin: 0;
    padding: 0;

}


.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.qr-card {
    height: 100%;
    width: 400px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all .5s ease;
}

.qr-card h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 20px 0;
}

input {
    width: 80%;
    padding: 10px 15px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content button {
    padding: 5px 10px;
    margin: 20px;
}

.qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.download {
    margin: 20px;
    display: none;
}

.button {
    --font-color: #323232;
    --bg-color: #fff;
    --main-color: #323232;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 14px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}

.button:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}