* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 650px;
    /* height: 450px; */
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    text-align: center;
}

.username-list {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 10px; /* Space between items */
    justify-items: center; /* Center items horizontally */
}

.username-list div {
    border: 1px solid #ddd; /* Added border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px;
    margin: 5px;
    background-color: #f9f9f9; /* Soft background */
    color: #4CAF50;
}

#generatedUsername {
    font-size: 18px;
    color: #4CAF50;
}
