* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  header {
    height: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.2)), url("image.jpg");
    background-size: cover;
    font-family: sans-serif;
  }
  nav {
    width: 100%;
    height: 100px;
    /* background: white; */
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo{
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: greenyellow;
  }

  .menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
  }

  .menu a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid aqua;
    transition: 0.4s linear;

  }

  .menu a:hover:before{
    width: 90%;
  }

  .register a{
    text-decoration: none;
    color: darkblue;
    padding: 10px 20px;
    font-size: 20px;
    background: aqua;
    border-radius: 8px;
    transition: 0.4s;
  }
  .register a:hover{
    background: transparent;
    border: 1px solid aqua;
    color:white;
  }
  .h-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: beige;
  }
  .h-txt span{
    letter-spacing: 5px;
  }
  .h-txt h1{
    font-size: 3.5rem;
  }
  .h-txt a{
    text-decoration: none;
    background: aqua;
    color: darkblue;
    padding: 10px 20px;
    letter-spacing: 5px;
    border-radius: 8px;
    transition: 0.4s;
  }

  .h-txt a:hover{
    background: transparent;
    color: white;
    border: 1px solid aqua;
  }