.graph-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.graph-container {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 50px auto;
    text-align: center;
    /* align-items: center; */
}

.vertex {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: lightblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: black;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Behind the vertices */
}

line {
    stroke: black;
    stroke-width: 2;
}